*{
  background-color: transparent;
}

.nav{
  /* background: purple; */
  background-image: linear-gradient(120deg, #fff 10%, #f68084 45%, #a6c0fe  100%);
  padding: 0;
  margin: 0;
  text-align: right;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
}

.nav__link{
  width: 180px;
  height: 125px;
  line-height: 70px;
  background-color: crimson;
}

.enlaces, .login_contain{
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  display: inline-block;
  width: 180px;
  padding: 0 40px;
}

button.xbox, button.ps{
  height: 125px;
}

.enlaces:hover{
  background-color: #fff;
  color: purple;
}

.login_contain{
  color: #000;
  width: 250px;
  line-height: 25px;
}

a.enlaces:last-of-type:hover{
  border-bottom-right-radius: 15px;
}

.subenlace{
  width: 180px;
  margin-top: 10px;
  padding: 10px;
}

.seriesx, .seriesx:hover{
  background-image: url(../../../assets/icon-seriesx-s.png);
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.seriess, .seriess:hover{
  background-image: url(../../../assets/xbsx.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.ps4, .ps4:hover{
  background-image: url(../../../assets/icon-ps4.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.ps5, .ps5:hover{
  background-image: url(../../../assets/ps5.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.icono-menu{
  width: 50px;
  height: 50px;
  display: block;
  position: center;
}

.xbox{
  background-image: url(../../../assets/xbsx.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  display: inline-block;
  width: 180px;
  padding: 0 40px;
}

.ps{
  background-image: url(../../../assets/ps5.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.nintendo{
  background-image: url(../../../assets/icon-swt.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.steam{
  background-image: url(../../../assets/icon-stm.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.login{
  background-image: url(../../../assets/bx-user.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.logout{
  background-image: url(../../../assets/bx-exit.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.cesta{
  background-image: url(../../../assets/bx-cart-alt.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
