<nav class="nav">
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    class="enlaces xbox"
    title="XBox"
    placeholder="XBox"
  ></button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      class="subenlace seriesx"
      [routerLink]="['/listado/', 'XBox Series X/S']"
      title="XBox Series X/S"
      placeholder="XBox Series X/S"
    ></button>
    <button
      mat-menu-item
      class="subenlace seriess"
      [routerLink]="['/listado/', 'XBox One X']"
      title="XBox One"
      placeholder="XBox One"
    ></button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="menups"
    class="enlaces ps"
    title="PS"
    placeholder="PS"
  ></button>
  <mat-menu #menups="matMenu">
    <button
      mat-menu-item
      class="subenlace ps4"
      [routerLink]="['/listado/', 'PS4']"
      title="PS4"
      placeholder="PS4"
    ></button>
    <button
      mat-menu-item
      class="subenlace ps5"
      [routerLink]="['/listado/', 'PS5']"
      title="PS5"
      placeholder="PS5"
    ></button>
  </mat-menu>

  <a
    href=""
    class="enlaces nintendo"
    title="Nintendo"
    placeholder="Nintendo"
    [routerLink]="['/listado/', 'Nintendo Switch']"
  ></a>
  <a
    href=""
    class="enlaces steam"
    title="PC"
    placeholder="PC"
    [routerLink]="['/listado/', 'PC']"
  ></a>

  <a
    title="Login"
    class="enlaces login"
    (click)="openDialogLogin()"
    *ngIf="!usuarioLogueado"
  ></a>
  <a
    title="Logout"
    class="enlaces logout"
    (click)="SalirSistema()"
    *ngIf="usuarioLogueado"
  ></a>
  <!-- <a title="Logout" class="enlaces logout" (click)="openDialogLogin()"></a> -->

  <!-- <button
    mat-button
    [matMenuTriggerFor]="menulogin"
    class="enlaces login"
    title="login"
    placeholder="login"
  ></button>
  <mat-menu #menulogin="matMenu">
    <button
      mat-menu-item
      class="subenlace salir"
      title="Salir"
      placeholder="Salir"
    ></button>
  </mat-menu> -->
  <a
    title="Cesta"
    class="enlaces cesta"
    (click)="openDialogEnConstruccion()"
  ></a>
</nav>
