<!-- <nav class="nav">
  <a
    href="/listado/XBox"
    class="enlaces xbox"
    title="Xbox"
    placeholder="Xbox"
  ></a>
  <a
    href="/listado/PS"
    class="enlaces ps"
    title="Play Station"
    placeholder="Play Station"
  ></a>
  <a
    href="/listado/Nintendo"
    class="enlaces nintendo"
    title="Nintendo"
    placeholder="Nintendo"
  ></a>
  <a href="/listado/PC" class="enlaces steam" title="PC" placeholder="PC"></a>
  <a href="#" title="Login" class="enlaces login"></a>
  <a href="#" title="Cesta" class="enlaces cesta"></a>
</nav> -->

<nav class="nav">
  <a
    href="#"
    class="enlaces xbox"
    title="Xbox"
    placeholder="Xbox"
    [routerLink]="['/listado/', 'XBox']"
  ></a>
  <a
    href="#"
    class="enlaces ps"
    title="Play Station"
    placeholder="Play Station"
    [routerLink]="['/listado/', 'PS']"
  ></a>
  <a
    href="#"
    class="enlaces nintendo"
    title="Nintendo"
    placeholder="Nintendo"
    [routerLink]="['/listado/', 'Nintendo']"
  ></a>
  <a
    href="#"
    class="enlaces steam"
    title="PC"
    placeholder="PC"
    [routerLink]="['/listado/', 'PC']"
  ></a>
  <a href="#" title="Login" class="enlaces login"></a>
  <a href="#" title="Cesta" class="enlaces cesta"></a>
</nav>
