<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sidenav">
    <h1 class="sidenav__title">Filtros</h1>

    <hr />
    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label label__titulo"
        >Precio:
      </label>
    </div>
    <div class="example-label-container" *ngIf="precioMinimo != precioMaximo">
      <label id="example-name-label" class="example-name-label label__content"
        >Entre {{ precioMinimo }} y {{ precioMaximo }} €
      </label>
    </div>
    <div class="example-label-container" *ngIf="precioMinimo == precioMaximo">
      <label id="example-name-label" class="example-name-label label__content"
        >Precio:
      </label>
      <label class="example-value-label label__content"
        >{{ precioMaximo }} €</label
      >
    </div>
    <mat-slider min="10" max="200">
      <input
        [(value)]="precioMinimo"
        matSliderStartThumb
        (change)="filtrarporPrecioJuego()"
      />
      <input
        [(value)]="precioMaximo"
        matSliderEndThumb
        (change)="filtrarporPrecioJuego()"
      />
    </mat-slider>
    <br />
    <br />
    <div class="example-label-container">
      <label class="example-name-label label__titulo">Nº Jugadores: </label>
      <br />
      <label
        class="example-value-label label__content"
        *ngIf="jugadoresMinimo == jugadoresMaximo"
        >Para {{ jugadoresMinimo }} jugador/es</label
      >
      <label
        class="example-value-label label__content"
        *ngIf="jugadoresMinimo != jugadoresMaximo"
        >Entre {{ jugadoresMinimo }} y {{ jugadoresMaximo }}</label
      >
    </div>
    <mat-slider min="1" max="4" [(ngModel)]="jugadores">
      <input
        [(value)]="jugadoresMinimo"
        matSliderStartThumb
        (change)="filtrarporNumeroJugadoresJuego()"
      />
      <input
        [(value)]="jugadoresMaximo"
        matSliderEndThumb
        (change)="filtrarporNumeroJugadoresJuego()"
      />
    </mat-slider>
    <br />
    <br />
    <div class="example-label-container">
      <label class="example-name-label label__titulo">Género: </label>
      <section class="example-section generos">
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('RPG')">
            <span class="label__content__genero">RPG</span></mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Plataformas')"
            ><span class="label__content__genero"
              >Plataformas</span
            ></mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Accion')"
            ><span class="label__content__genero">Accion</span></mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Terror')"
            ><span class="label__content__genero">Terror</span></mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('JRPG')"
            ><span class="label__content__genero">JRPG</span></mat-checkbox
          >
        </p>
      </section>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field class="busqueda">
      <mat-label>Buscar Juego...</mat-label>
      <input
        matInput
        type="text"
        name="nombreJuego"
        [(ngModel)]="value"
        ngDefaultControl
        (input)="filtrarporNombreJuego()"
        autocomplete="off"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="limpiarValorNombre()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <section class="spinner" *ngIf="listaJuegos.length === 0">
      <mat-spinner></mat-spinner>
      <span>Buscando juegos...</span>
    </section>
    <section class="card_games" *ngIf="listaJuegos.length > 0">
      <div class="card_games__item" *ngFor="let item of listaJuegos">
        <app-juego-datos
          [infojuego]="item"
          [estaEnElPadre]="false"
        ></app-juego-datos>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
