<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sidenav">
    Filtros
    <hr />
    <div class="example-label-container">
      <label id="example-name-label" class="example-name-label">Precio: </label>
      <label class="example-value-label">{{ precio }}</label>
    </div>
    <mat-slider min="10" max="200" [(ngModel)]="precio">
      <input precio="10" matSliderStartThumb />
      <input precio="30" matSliderEndThumb />
    </mat-slider>

    <div class="example-label-container">
      <label class="example-name-label">Nº Jugadores: </label>
      <label class="example-value-label">{{ jugadores }}</label>
    </div>
    <mat-slider min="1" max="4" [(ngModel)]="jugadores">
      <input precio="1" matSliderStartThumb />
      <input precio="4" matSliderEndThumb />
    </mat-slider>
    <div class="example-label-container">
      <label class="example-name-label">Género: </label>
      <section class="example-section">
        <p>
          <mat-checkbox
            (change)="filtrarporGeneroJuego('RPG')"
            [(ngModel)]="checked"
            >RPG</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Plataformas')"
            >Plataformas</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Accion')"
            >Accion</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('Terror')"
            >Terror</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox (change)="filtrarporGeneroJuego('JRPG')"
            >JRPG</mat-checkbox
          >
        </p>
      </section>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-form-field class="busqueda">
      <mat-label>Buscar Juego...</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="value"
        (input)="filtrarporNombreJuego()"
        autocomplete="off"
      />
      <!-- <input matInput type="text" [(ngModel)]="value" autocomplete="off" /> -->
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="xmark"
          >xmark</mat-icon
        >
      </button>
    </mat-form-field>
    <section class="spinner" *ngIf="listaJuegos.length === 0">
      <mat-spinner></mat-spinner>
    </section>
    <section class="card_games" *ngIf="listaJuegos.length > 0">
      <div class="card_games__item" *ngFor="let item of listaJuegos">
        <app-juego-datos
          [infojuego]="item"
          [estaEnElPadre]="false"
        ></app-juego-datos>
      </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
