
.container{
  width: 100%;
  height: 500px;
  margin: 20px 0;
  background-color: rgba(127, 159, 255, 0.598);
  border-radius: 15px;
}

.container__datos__cesta{
  width: 100%;
  display: flex;

}

.cesta{
  width: 60%;
  height: 300px;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  margin: 0 30px 10px;
  background-color: rgba(255, 255, 255, 0);
}

.tabla__cesta{
  max-height: 200px;
  overflow: hidden;
}

.span__borrar{
  cursor: pointer;
}

.precio{
  width: 35%;
  height: 150px;
  margin: 0 15px;
  background-color: white;
}

.datos{
  width: 60%;
  height: 100px;
  margin: 0 30px;
  background-color: white;
}
