
.container{
  width: 100%;
  height: 500px;
  margin: 20px 0;
  background-color: rgba(127, 159, 255, 0.598);
  border-radius: 15px;
}

.container__datos__cesta{
  width: 100%;
  display: flex;

}

.cesta{
  width: 60%;
  height: 300px;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  margin: 0 30px 10px;
  background-color: rgba(255, 255, 255, 0);
}

.cesta_vacia{
  width: 60%;
  height: 300px;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  margin: 0 30px 10px;
  background-color: rgba(255, 255, 255, 0);
}

.tabla__cesta{
  max-height: 200px;
  overflow: hidden;
}

.selector__cantidad{
  width: 60px;
  padding-top: 25px;
}

.cantidades{
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  color: blue;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.span__borrar{
  cursor: pointer;
}

.precio{
  width: 35%;
  height: 180px;
  margin: 0 15px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 15px;
}

.precio__texto{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 40px;
}

.precio__cta{
  display: block;
  color: #000;
  width: 150px;
  height: 36px;
  text-align: center;
  margin: 0 auto;
    border: 2px solid;
    padding: .3em 1em;
    border-radius: 2em;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 1px hsla(192, 100%, 9%, .5);
}

.precio__noLogueado{
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.datos{
  width: 60%;
  height: 100px;
  margin: 0 30px;
  background-color: white;
}
