<div class="container">
  <div class="formulario">
    <form class="example-form tabla">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Repita la Contraseña</mat-label>
              <input type="password" matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button type="submit" mat-button>Registrar</button>
      <button type="reset" mat-button>Limpiar formulario.</button>
    </form>
  </div>
</div>
