.container{
  height: 500px;
  margin: 20px 0;
  background-color: rgba(127, 159, 255, 0.598);
  border-radius: 15px;
  padding: 50px;
}

.formulario{
  background: white;
  width: 80%;
  margin: 0 auto;
}

.tabla{
  padding: 30px;
  width: 80%;
}
