@media (min-width: 768px) {
  .card{
    width: 51%;
    float: left;
    position: center;
    flex: 0 0 25%;
    margin: 0 1em;
    margin-left: 1.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
   .carousel-inner {
    display: flex;
  }

  .carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carrousel{
  background-color: rgba(127, 159, 255, 0.598);
  padding-bottom: 15px;
  border-radius: 20px;
}

.carrousel h1{
  text-align: center;
  display: block;
  margin: 15px auto;
  padding-top: 15px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
}
