<section class="carrousel vendidos">
  <h1>Juegos Más Populares</h1>
  <app-carrousel-juegos idcarrousel="vendidos"></app-carrousel-juegos>
</section>
<hr />
<br /><br />

<section class="carrousel estrenos">
  <h1>Últimas novedades</h1>
  <app-carrousel-juegos idcarrousel="estrenos"></app-carrousel-juegos>
</section>
<hr />
<br /><br />

<section class="carrousel lanzamientos">
  <h1>Próximos lanzamientos</h1>
  <app-carrousel-juegos idcarrousel="lanzamientos"></app-carrousel-juegos>
</section>
<hr />
<br /><br />
