*{
  color: rgba(255,255,255,.7);
  background: #323232;
  margin: 0;
  padding: 0;
}
span{
  padding-right: 20px;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0;
}

.mat-snack-bar-container{

  margin: 0;
}
