<section *ngIf="!juego; else divJuego">
  <h1>Cargando...</h1>
</section>

<ng-template #divJuego>
  <section class="box">
    <section class="subbox">
      <h1>{{ juegoConsultado.NombreJuego }}</h1>
      <hr />
      <br />
      <img [src]="juegoConsultado.IdJuego | imagen" alt="" />
    </section>
    <section class="subbox">
      <h1>
        plataforma:
        <div class="iconos">
          <span class="icono" *ngFor="let item of plataformas">
            <img
              class="icono_img"
              [src]="item.NombrePlataforma | icono"
              [alt]="item.NombrePlataforma"
            />
          </span>
        </div>
      </h1>
      <div class="precio" *ngIf="stockJuego">
        <h3>Precio: {{ juegoConsultado.Precio }}</h3>
        <button class="btn btn-primary" (click)="openSnackBar()">
          Añadir al carrito
        </button>
      </div>
      <div class="no__disponible" *ngIf="!stockJuego">
        <p>No hay existencias en estos momentos.</p>
      </div>

      <br />
      <hr />
      <p>
        {{ juegoConsultado.Descripcion }}
      </p>
      <hr />
      <br />
    </section>
  </section>
</ng-template>
