<div class="flex">
  <div class="icono">
    <a href="#inicio"></a>
  </div>

  <section class="empresa">
    <ul>
      <li>Términos y condiciones</li>
      <li>Política de privacidad</li>
      <li>Contacto</li>
      <li>FAQ</li>
    </ul>
  </section>

  <section class="espacio"></section>

  <nav class="sociales">
    <nav class="nav">
      <a href="#" class="enlaces fb"></a>
      <a href="#" class="enlaces yt"></a>
      <a href="#" class="enlaces ld"></a>
      <a href="#" class="enlaces twch"></a>
      <a href="#" class="enlaces twtr"></a>
      <!--   <div class="enlaces"></div>
      <div class="enlaces"></div>
      <div class="enlaces"></div>
      <a href="#" class="enlaces login"></a>
      <a href="#" class="enlaces cesta"></a>-->
    </nav>
    <!-- <ul>
      <li>Facebook</li>
      <li>Youtube</li>
      <li>Linkedin</li>
      <li>Twitch</li>
      <li>Twitter</li>
    </ul> -->
  </nav>
</div>

<div class="copyright">
  <hr />
  <h3>
    Página desarrollada por D. Alban Loubet Vergara. Prohibida su cópia y
    distribución. Todos los derechos reservados
  </h3>
</div>
